/* style sheet for portfolio homework assignment

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   css reset code
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*start of my code*/

/*navigation bar*/

header {
    background-color: white;
    height: 70px;
    width:100%;

    
}

.name {
        background-color: #4aaaa5;
        color: white;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 600;
        max-width: auto;
        margin: 0 auto;
        float:left;
        padding: 25px;
        margin-left:20%;
        }

ul {
    max-width:700px;
    float: left;
    overflow: hidden;
}

 .navBar {
    max-width: 960px;
    height:70px;
    float: left;
    margin-left: 20%;
    margin-right:10%;

}

.navLink { 
            color:gray;
            padding:30px;
            margin-left: 20px;
            margin-right: 20px;
            float:left;
            overflow: hidden;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

/*end of navigation bar*/
/*about me section */

.aboutmesection {
        background-color: white;
        align-items: center;
        color:gray;
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        float:left;
        margin-left:20%;
        margin-right:20%;
        padding-top: 20px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
        float: left;
        max-width: 960px;

}
#aboutmeheader {
        background-color: white;
        color:#4aaaa5;
        font-size: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        padding-left:10px;
        padding-right:40px;
        padding-bottom: 20px;
        border-bottom:2px lightgrey solid;
}


#profilepic { 
        float: left;
        padding-right: 20px;
        height: 250px;
        width:200px;
        

}

#aboutmeparagraph {
    padding-top:30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;

}

body {
        background-image: url(../images/white-waves.png);
}

footer {
    margin-top:760px;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    padding: 20px;
    text-align: center;
    color:white;
}

     
/*contact me section*/


.contactform {
    background-color: white;
    color:gray;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left:20%;
    margin-right:20%;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    float: left;
    width: 960px;

}

#contactheader {
    background-color: white;
    color:#4aaaa5;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-left:10px;
    padding-right:40px;
    padding-bottom: 20px;
    border-bottom:2px lightgrey solid;
}

.form {background-color: white;
    align-items: left;
    color:gray;
    font-size: 18px;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 35px;
    padding-top: 10px;
    padding-bottom: 25px;
    float: left;
    max-width: 960px;

}

#namebox, #emailbox {
    height: 20px;
    width: 950px;

}

#submitbutton {
    background-color: #4aaaa5;
    color:white;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
}

/*portfolio section*/


.portfoliosection {
    background-color: white;
    color:gray;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left:20%;
    margin-right:20%;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    float: left;
    width: 960px;

}

#portfolioheader {
    background-color: white;
    color:#4aaaa5;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-left:10px;
    padding-right:40px;
    padding-bottom: 20px;
    border-bottom:2px lightgrey solid;
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
#image1, #image2, #image3, #image4, #image5 {
      max-height: 200px;
      max-width:200px;
      margin-top: 5px;
      margin-left:10px;
      margin-right: 170px;
      position: relative;
      }
      

#imagecont1{
      position: relative;
      }


.text-block {
        position: relative;
        color: white;
        background-color: #4aaaa5;
        z-index:  1;
        bottom: 50px;
        max-width: 190px;
        text-align: center;
        margin-left:10px;
        padding: 10px 5px;
            }

/* responsive portfolio code */

@media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }

        
            
@media screen and (max-width: 992px) {
        .column {
          width: 50%;
        }
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 670x) {
    .column {
      width: 100%;
    }

  }
  /*navigation bar*/

header {
    background-color: white;
    height: 45px;

    
}

.name {
        background-color: #4aaaa5;
        color: white;
        font-size: 15px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 600;
        max-width: auto;
        margin: 0 auto;
        float:left;
        padding: 15px;
       
        }


 .navBar {
    float: left;
    flex-wrap: wrap;
    margin: 0%;

}

.navLink { 
            color:gray;
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin: 3px;
            padding: 3px;
        }

/*end of navigation bar*/

/*about me section */

.aboutmesection {
    background-color: white;
    align-items: center;
    color:gray;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float:left;
    margin: 5%;
    max-width: auto;

}
#aboutmeheader {
    background-color: white;
    color:#4aaaa5;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-left:10px;
    padding-right:40px;
    padding-bottom: 5px;
    border-bottom:2px lightgrey solid;
}


#profilepic { 
    float: left;
    height: 200px;
    width:200px;
    margin: 5%;
    

}

#aboutmeparagraph {
padding-top:25px;
font-family: Georgia, 'Times New Roman', Times, serif;
float: left;
margin: 5%;

}

body {
    background-image: url(../images/white-waves.png);
}

footer {
margin-top:760px;
border-top: 8px solid #4aaaa5;
background-color: #666666;
padding: 20px;
text-align: center;
color:white;
}

 